# This file is created from github-infrastructure repository and added when the repository is created.
# The file can be edited or maintained within the individual repository as changes will be overwritten on next apply from github-infrastructure
# The code owner lines are configured with the repository from github-infrastructure.

* @onlinecity/DevOps

