---
# This files was added by a devbox script from our devops tools project and is maintained there:
# https://github.com/onlinecity/devops-tools

extends: default

rules:
  line-length: disable
  document-start: disable
