[defaults]

# devbox plugin special: the below Ansible Jinja, requires Go Template escaping, because devbox runs everything through Go templating.
# Can't give example, because it would need to be escaped... see instead: https://stackoverflow.com/a/17642427
# devbox plugin code: https://github.com/jetify-com/devbox/blob/0.10.7/internal/plugin/plugin.go#L126

# Ensure we can add the '{{"{{"}} ansible_managed {{"}}"}}' Jinja variable to templated files, to give a hint of traceability on where files comes from on the hosts.
ansible_managed = Ansible managed file. From {{"{{%"}} if role_name is defined {{"%}}"}}role: '{{"{{{{"}} role_name {{"}}}}"}}'{{"{{%"}} else {{"%}}"}}playbook described with 'name: {{"{{{{"}} ansible_play_name {{"}}}}"}}' {{"{{%"}} endif {{"%}}"}}. Template source file name: {{"{{{{"}} template_path | basename {{"}}}}"}}


# Installs roles into [current dir]/roles/namespace.rolename
roles_path= ./roles


# Installs collections into [current dir]/ansible_collections/namespace/collection_name
collections_path = ./


# Cache facts in a /tmp/onlinecity_ansible_fact_cache/<ansible_hostname> file for. After 28800 seconds, gather facts will run again automatically.
# To remove cached facts, one can simply just delete the files in /tmp/onlinecity_ansible_fact_cache/<ansible_hostname>
# or run "task devops-tools:ssh-write-config-files" in the right provision project folder.
# The path to fact_caching_connection is also used in the task-script of `task devops-tools:ssh-write-config-files` which also clear the fact-cache for ansible.
fact_caching = community.general.yaml
fact_caching_connection = /tmp/onlinecity_ansible_fact_cache
fact_caching_timeout = 28800
gathering = smart


[diff]
always = true
