# This files was added by a devbox script from our devops tools project and is maintained there:
# https://github.com/onlinecity/devops-tools
# The file is added by bootstrap-ci-lint devbox script
# and supports conditionally both features.
---
name: CI

on:
  push:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Generate a github token using an app so access is to other private repos within our org is available
        id: generate-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: {{ `${{ vars.APP_OC_GITHUB_ACTIONS_ID }}` }}
          private-key: {{ `${{ secrets.APP_OC_GITHUB_ACTIONS_PEM }}` }}
          owner: {{ `${{ github.repository_owner }}` }}

      - uses: actions/checkout@v4
        with:
          token: {{ `${{ steps.generate-token.outputs.token }}` }}
          submodules: recursive

      - name: Install devbox
        uses: jetify-com/devbox-install-action@v0.14.0
        with:
          enable-cache: "true"

      - name: ensure pre-commit verifications
        # we're not in an initialized devbox shell so need to run commands with devbox run --
        # Notice also with -a to pre-commit we run all files, not only changed ones as this is a CI check
        run: if [ -f .pre-commit-config.yaml ]; then devbox run -- pre-commit run -a; fi
        
