# Used for the ansible-requirements devbox run command
#
# https://pypi.org/project/merge-requirements/
# It seems unmaintained, and is very old from 2016, however the newer tool like pyreq-merger at https://github.com/mhristodor/pyreq-merger doesn't even work because the distribution is failing due to missing .version.txt file it seems he forgot to distribute with the tool. Maybe to output help or usage with the version of tool?
# Those two tools was however the only ones we could find covering our most important use-cases about upgrading packages with locked versions, found in two requirements files.
# See our Python virtual environment in devops docs https://docs.devops.oc.dk/hww/python-virtual-environments/
merge_requirements==0.6


# Use for writing ssh host connection configuration files
# from script ssh_host_connection_configuration_write_files.py
# executed by taskfile task: ssh-write-config-files
# available through our devops tooling and devbox plugins.
jinja2
